<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% block content %}
<body>
    <div class="container">
      <h2>{{dataTitle}}</h2>
        <p1>{{ roadStart }}</p1>
        <br></br>
        <p1>{{ roadEnd }}</p1>
        <br></br>
        <p1>{{ result }}</p1>
      <p>The .table-striped class adds zebra-stripes to a table:</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
{% endblock %}
</html>