<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% block content %}

{#    <table>#}
{#        {% for log_id, t_timestamp in result %}#}
{#           <tr>#}
{#                <th> {{ log_id }} </th>#}
{#                <td> {{ t_timestamp }} </td>#}
{#           </tr>#}
{#        {% endfor %}#}
{#    </table>#}
<body>
    <div class="container">
      <h2>{{dataTitle}}</h2>
      <p>{{ beskrivelse }}</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>log_id</th>
            <th>t_timestamp</th>
          </tr>
        </thead>
        {% for log_id, t_timestamp in result %}
           <tr>
                <th> {{ log_id }} </th>
                <td> {{ t_timestamp }} </td>
           </tr>
        {% endfor %}
      </table>
    </div>
</body>
{% endblock %}
</html>