<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends "base.html" %}
{% block content %}
<body>
		<form action="/search" method="GET, POST">
            {{ form.hidden_tag() }}
            <h2>{{ form.facilityTitle}}</h2>
            <select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select><br></br>
            <h2>{{ form.roadTitle }}</h2>
            <p>{{ form.roadStart }} {{ form.roadEnd }}</p>
{#            <br></br>#}
{#            <h2> {{ form.timeTitle }}</h2>#}
{#            <p>{{ form.timeStart }} {{ form.timeEnd }}</p>#}
            <br></br>
            {{ form.csrf_token }}
            {{ form.name }}
            <input type="submit" name="submit" value="Søg">
{#            {{ form.submit }}#}
			<h3>{{facility_title}}</h3>


{##}
{##}
{#			<h3>{{road_title}}</h3>#}
{#			<input type="text" name="roadStart" placeholder="Indtast start-kilometrering">#}
{#			<input type="text" name="roadEnd" placeholder="Indtast slut-kilometrering"><br></br>#}
{##}
{#			<h3>{{timeframe_title}}</h3>#}
{#            <input type="text" name="timeDate" placeholder="Indtast dato"><br></br>#}
{#			<input type="text" name="timeStart" placeholder="Indtast start-tidspunkt">#}
{#			<input type="text" name="timeEnd" placeholder="Indtast slut-tidspunkt"> <br></br>#}
{##}
{#			<input type="submit" name="search" value="Søg">#}
		</form>
    <h1>{{ text1 }}</h1>
</body>
{% endblock %}
</html>